apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: golden-container
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: golden-container
    app.kubernetes.io/part-of: golden-container
  name: golden-container
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: golden-container
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: golden-container
    spec:
      containers:
      - image: quay.io/redhat-appstudio/ec-golden-image@sha256:5b641ea63542fb6f82ebcf85eefa3e24d2fe9bdb592821dffacaab9717c293dd
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
